body {
  font-size: 2em;
}

.pending {
  color: lightgrey;
}

.correct {
  color: white;
  background: green;
}

.incorrect {
  color: red;
}

.user-input {
  /* width: 40rem;
  height: 10rem; */
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.current {
  border-bottom: solid;
}